form {
    text-align: center;
}

.data {
    height: 22px;
    width: 200px;
    margin-top: 10px;
    margin-bottom: 10px;
}

form:last-child {
    margin-bottom: 20px;
}

#reg {
    margin-left: 0%;
    margin-top: 20px;
    margin-bottom: 8em;
    height: 45px;
    width: 200px;
    font-size: 18px;
}